<p style="margin:0 0 16px 0;">
  Você pode redefinir sua senha na
  <%= link_to "página de redefinição de senha", edit_password_url(@user.password_reset_token) %>.
</p>

<p style="margin:0;color:#71717a;font-size:14px;">
  Este link expira em 15 minutos.
</p>
